<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>DIM_LENS <2017> - 仰望天空的钉子瞳孔中所映照的世界</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="style.css">	
</head>
<body><div id="dimlens17">
<!--[if lt IE 7]>
	<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<header class="head"><div class="ctn">
	<h1>{{ site.name }}</h1>
	<h2>--VERSION {{ site.version }}</h2>
</div></header>

<div class="centre">
<nav><ol>
	<li v-for="item in c">
		<input type="radio"
			:id="item.id"
			:value="item.id"
			name="item.id"
			v-model="view.currentCate"
			v-bind:style="item.bgStyle">
		<label :for="item.id">{{ item.title }}</label>
	</li>
</ol></nav>

<ul>
	<li v-for="item in c[currentCateI].slides" 
		v-bind:style="item.bgStyle"
		v-bind:class="item.mode">
		<div v-if="item.mode == 'capture'" 
			v-bind:style="item.bgStyle">
			To make div big
		</div>
		<p>{{ item.desc }}</p>
	</li>
</ul>
</div>

<article class="dimsh"><div class="ctn">
	{{ c[currentCateI].termDesc }}
</div></article>

</div>
<script src="vue.js"></script>
<!-- <script src="//unpkg.com/vue"></script> -->
<script src="script.js"></script>
</body>
</html>